<script>
  function initAnalytics() {
    console.log('hhh')
    const s = document.createElement('script');
    const head = document.getElementsByTagName('script')[0];
    s.async = true;
    s.src = 'https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}';
    head.parentNode.insertBefore(s, head);
    s.onload = () => {
      window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
      };
  }
  window.addEventListener("load", initAnalytics);
</script>

